/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  /*display: inline-block;*/
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background:  url("../images/bgtile.png") repeat-x;
}


.center {
  max-width: 880px;
  margin: 0px auto;
  padding-top: 75px;
  overflow: hidden;
}

.phone {
  /*float: left;*/
  display: inline-block;
  margin: 0px;
}

.content {
  display: inline-block;
  /*float: left;*/
  margin: 0px;
}

header  {
  /*display: inline-block;*/
  /*margin: 75px 30px;*/
}

header .logo {
  display: inline-block;
  margin: 0px;
}

header .login {
  display: inline-block;
  margin: 0px;
}

main {
  display: inline-block;
  background: url("../images/frame.png") no-repeat;
  max-width: 504px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0px;
  width: 100%;
  padding; 0;
  /*overflow: hidden;*/
}

.content li {
  display: inline-block;
  width: 200px;
  margin: 0px;
}

footer li {
  display: inline-block;
}

.copyright {
  float: right;
}
